In [7]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model, metrics

In [8]:
df_heart_csv = 'https://raw.githubusercontent.com/lilreel/Datasets/main/_Miscellaneous/heart.csv'
df_heart = pd.read_csv(df_heart_csv)

In [9]:
pd.set_option('display.max_columns',500)
df_heart

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [10]:
df_heart[:3].to_csv('sample_heart_csv.csv')

**
Age = 0, inf (integer)
Sex= ['M','F']
RestingBP= 0, inf (integer)
Cholesterol = 0, inf (integer)
ChestPainType = ['ATA','NAP','ASY','TA']
RestingECG =['Normal','ST','LVH']
FastingBS = [0,1] (integer)
ExerciseAngina= ['N','Y']
Oldpeak = -inf, inf(float)
MaxHR=0,inf(integer)
ST_Slope= ['Up','Flat','Down']
**

In [11]:
df_heart['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [12]:
df_heart['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [13]:
df_heart['FastingBS'].unique()

array([0, 1], dtype=int64)

In [14]:
df_heart[3:4]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1

In [15]:
df_heart.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [16]:
df_heart=df_heart.drop(columns=['HeartDisease'])

In [17]:
df_heart = pd.get_dummies(df_heart)
df_heart.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,0,1,0,0,0,1,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,0,1,0,0,0,0,1,1,0,0,0,1
3,48,138,214,0,108,1.5,1,0,1,0,0,0,0,1,0,0,1,0,1,0
4,54,150,195,0,122,0.0,0,1,0,0,1,0,0,1,0,1,0,0,0,1

In [119]:
df_heart[:1].values

array([[ 40., 140., 289.,   0., 172.,   0.,   0.,   1.,   0.,   1.,   0.,
          0.,   0.,   1.,   0.,   1.,   0.,   0.,   0.,   1.]])

In [145]:
import joblib
loaded_model = joblib.load('model_classifier_rf.pkl')

In [102]:
df_heart[3:4]

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
3,48,138,214,0,108,1.5,1,0,1,0,0,0,0,1,0,0,1,0,1,0

In [147]:
prediction_result = loaded_model.predict(df_heart)

In [104]:
df_heart[3:4].values

array([[ 48. , 138. , 214. ,   0. , 108. ,   1.5,   1. ,   0. ,   1. ,
          0. ,   0. ,   0. ,   0. ,   1. ,   0. ,   0. ,   1. ,   0. ,
          1. ,   0. ]])

In [148]:
loaded_model.predict(df_heart[3:4].values)[0]

D:\SEMESTER 5\ZENIUS\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

1

In [149]:
loaded_model.predict?

In [125]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                918 non-null    int64
 1   RestingBP          918 non-null    int64
 2   Cholesterol        918 non-null    int64
 3   FastingBS          918 non-null    int64
 4   MaxHR              918 non-null    int64
 5   Oldpeak            918 non-null    float64
 6   HeartDisease       918 non-null    int64
 7   Sex_F              918 non-null    uint8
 8   Sex_M              918 non-null    uint8
 9   ChestPainType_ASY  918 non-null    uint8
 10  ChestPainType_ATA  918 non-null    uint8
 11  ChestPainType_NAP  918 non-null    uint8
 12  ChestPainType_TA   918 non-null    uint8
 13  RestingECG_LVH     918 non-null    uint8
 14  RestingECG_Normal  918 non-null    uint8
 15  RestingECG_ST      918 non-null    uint8
 16  ExerciseAngina_N   918 non-null    uint8
 17  ExerciseAngina_Y   918 non-null    uint8
 18  ST_Slope_Down      918 non-null    uint8
 19  ST_Slope_Flat      918 non-null    uint8
 20  ST_Slope_Up        918 non-null    uint8
dtypes: float64(1), int64(6), uint8(14)
memory usage: 62.9 KB

In [126]:
heart['HeartDisease'].value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

In [127]:
from sklearn.utils import resample

heart_majority = heart[(heart['HeartDisease'] == 1)]
heart_minority = heart[(heart['HeartDisease'] == 0)]

heart_majority_downsampled = resample(heart_majority,
                                     replace = True,
                                     n_samples = 410,
                                     random_state = 42)

heart_upsampled = pd.concat([heart_majority_downsampled, heart_minority])

In [128]:
heart_upsampled['HeartDisease'].value_counts()

1    410
0    410
Name: HeartDisease, dtype: int64

In [129]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                918 non-null    int64
 1   RestingBP          918 non-null    int64
 2   Cholesterol        918 non-null    int64
 3   FastingBS          918 non-null    int64
 4   MaxHR              918 non-null    int64
 5   Oldpeak            918 non-null    float64
 6   HeartDisease       918 non-null    int64
 7   Sex_F              918 non-null    uint8
 8   Sex_M              918 non-null    uint8
 9   ChestPainType_ASY  918 non-null    uint8
 10  ChestPainType_ATA  918 non-null    uint8
 11  ChestPainType_NAP  918 non-null    uint8
 12  ChestPainType_TA   918 non-null    uint8
 13  RestingECG_LVH     918 non-null    uint8
 14  RestingECG_Normal  918 non-null    uint8
 15  RestingECG_ST      918 non-null    uint8
 16  ExerciseAngina_N   918 non-null    uint8
 17  ExerciseAngina_Y   918 non-null    uint8
 18  ST_Slope_Down      918 non-null    uint8
 19  ST_Slope_Flat      918 non-null    uint8
 20  ST_Slope_Up        918 non-null    uint8
dtypes: float64(1), int64(6), uint8(14)
memory usage: 62.9 KB

In [130]:
x = heart.loc[:, heart.columns != 'HeartDisease']
y = heart['HeartDisease']

In [131]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4,
                                                   random_state = 1)

In [132]:

from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(solver='lbfgs', max_iter = 2000)
lr = lr.fit(x_train, y_train)

In [133]:
from sklearn.ensemble import RandomForestClassifier

classifier_rf = RandomForestClassifier(random_state= 42, 
                                       n_jobs = -1,
                                       max_depth = 5,
                                       n_estimators = 100,
                                       oob_score = True)
classifier_rf.fit(x_train, y_train)

RandomForestClassifier(max_depth=5, n_jobs=-1, oob_score=True, random_state=42)

In [134]:
rf = RandomForestClassifier(max_depth=5,random_state=42)

In [135]:
params = {
    'max_depth': [2,3,5,10,20],
    'min_samples_leaf': [5,10,20,50,100,200],
    'n_estimators': [10,25,30,50,100,200]
}

In [136]:
from sklearn.model_selection import GridSearchCV

grid_search = GridSearchCV(rf,
                           params,
                           cv = 4,n_jobs = -1, 
                           verbose = 1, scoring = 'accuracy')
grid_search.fit(x_train, y_train)

Fitting 4 folds for each of 180 candidates, totalling 720 fits

GridSearchCV(cv=4,
             estimator=RandomForestClassifier(max_depth=5, random_state=42),
             n_jobs=-1,
             param_grid={'max_depth': [2, 3, 5, 10, 20],
                         'min_samples_leaf': [5, 10, 20, 50, 100, 200],
                         'n_estimators': [10, 25, 30, 50, 100, 200]},
             scoring='accuracy', verbose=1)

In [137]:
grid_search.best_score_

0.8708611022955675

In [138]:
rf_best = grid_search.best_estimator_
rf_best.fit(x_train, y_train)

RandomForestClassifier(max_depth=10, min_samples_leaf=5, n_estimators=50,
                       random_state=42)

In [144]:
import joblib
joblib.dump(classifier_rf, 'model_classifier_rf.pkl')

['model_classifier_rf.pkl']

In [42]:
y_lr=lr.predict(x_test)

y_rf_before = classifier_rf.predict(x_test)

y_rf_after=rf_best.predict(x_test)